<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AddressList</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>xjhxjhxjhxjh.com.github.servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/logIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificationCodeServlet</display-name>
    <servlet-name>VerificationCodeServlet</servlet-name>
    <servlet-class>xjhxjhxjhxjh.com.github.servlet.VerificationCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationCodeServlet</servlet-name>
    <url-pattern>/verificationCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>xjhxjhxjhxjh.com.github.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/homePage</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>DynamicProxySolveMessyCode</display-name>
    <filter-name>DynamicProxySolveMessyCode</filter-name>
    <filter-class>xjhxjhxjhxjh.com.github.filter.DynamicProxySolveMessyCode</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DynamicProxySolveMessyCode</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>xjhxjhxjhxjh.com.github.utils.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PermissionFilter</display-name>
    <filter-name>PermissionFilter</filter-name>
    <filter-class>xjhxjhxjhxjh.com.github.filter.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>/add.jsp</url-pattern>
  </filter-mapping>
    <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>/edit.jsp</url-pattern>
  </filter-mapping>
    <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>/homePage.jsp</url-pattern>
  </filter-mapping>
</web-app>